tqdm
yacs
numba
numpy
filterpy
cython
chumpy
Pillow
trimesh
pyrender
matplotlib
json_tricks
scikit-image
opencv-python
scikit-image
scipy==1.4.1
tensorboardx
smplx==0.1.28
torchgeometry
pycocotools
ultralytics==8.0.24
